/* dark shades of primary color*/
/* primary/main color */
/* lighter shades of primary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
.nav-container {
  outline-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 70% 20%;
      grid-template-columns: 10% 70% 20%;
  grid-column-gap: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.nav-container .nav_logo {
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.nav-container .nav_bar {
  width: 80%;
  font-size: 2rem;
  border: none;
  background-color: transparent;
}

.nav-container .nav_bar :hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #48647f;
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nav-container .nav_category {
  width: 100%;
  margin: 0 auto;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  visibility: hidden;
}

.nav-container .nav_category li {
  margin: 0.5rem;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.nav-container .nav_category li a {
  color: #063251;
}

.nav-container .nav_category li:hover a {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #48647f;
}

@media only screen and (min-width: 766px) {
  .nav-container .nav_category {
    font-size: 1.2rem;
    visibility: visible;
  }
  .nav-container .nav_category li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .nav-container .nav_bar {
    display: none;
  }
}

.nav_menu_container {
  color: #829ab0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 2;
  height: 100vh;
  color: #102a42;
}

.nav_menu_container .nav_close_btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  cursor: pointer;
  color: red;
  text-align: center;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  width: 4rem;
  background: transparent;
}

.nav_menu_container .nav_close_btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav_menu_container .nav_menu {
  margin: auto 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav_menu_container .nav_menu li {
  width: 50%;
  max-width: 300px;
  margin: 1px auto;
}

.nav_menu_container .nav_menu a {
  text-transform: capitalize;
  color: #102a42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: default;
}

.nav_menu_container .nav_menu .nav_icon {
  margin-right: 1rem;
  margin-left: 1rem;
}

.nav_menu_container .nav_menu .nav_text:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #49a6e9;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
  cursor: pointer;
}

.nav_menu_container .nav_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5rem;
}

.nav_menu_container .nav_social li {
  cursor: pointer;
}

.nav_menu_container .nav_social li a {
  font-size: 2rem;
}

.nav_menu_container .nav_social li a :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/*# sourceMappingURL=Navbar.css.map */