@import "./config";
@import "./variables";

// Spinner
@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
.loading {
	width: 6rem;
	height: 6rem;
	margin: 0 auto;
	margin-top: 10rem;
	border-radius: 50%;
	border: 3px solid $grey-1;
	border-top-color: $primary-1;
	animation: spinner 0.6s linear infinite;
}

//============Navbar=========
.nav-container {
	display: flex;
	font-size: 2rem;
	justify-content: space-between;
	padding: 0.5rem;
	background-color: $white;
	align-items: center;

	.nav_logo,
	.nav_bar {
		color: $grey-1;
		margin: 0.5rem;
	}

	.nav_bar :hover {
		transition: $transition;
		color: $grey-4;
		cursor: pointer;
		margin: 0.2rem;
	}
}
// @keyframes mymove {
// 	from {
// 		left: 0px;
// 	}
// 	to {
// 		left: 200px;
// 	}
// }
.nav_menu_container {
	// position: relative;
	// animation: mymove 5s;
	color: $grey-6;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: $spacing;
	line-height: 2;
	height: 100vh;
	color: $grey-1;

	.nav_close_btn {
		cursor: pointer;
		color: red;
		text-align: right;
		margin: 1rem;
	}
	.nav_menu {
		margin: auto 0.5rem;
		display: flex;
		flex-direction: column;

		li {
			width: 50%;

			max-width: 300px;
			margin: 1px auto;
		}

		a {
			text-transform: uppercase;
			color: $grey-1;
			display: flex;
			cursor: default;
		}
		.nav_icon {
			margin-right: 1rem;
			margin-left: 1rem;
		}
		.nav_text:hover {
			transition: $transition;
			color: $primary-5;
			transform: translate(-2px, -2px);
			border-bottom: 2px solid $grey-8;
			cursor: pointer;
		}
	}
	.nav_social {
		display: flex;
		justify-content: center;
	}
}
