@import "./config";
@import "./variables";

// Spinner
@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
.loading {
	width: 6rem;
	height: 6rem;
	margin: 0 auto;
	margin-top: 10rem;
	border-radius: 50%;
	border: 3px solid $grey-1;
	border-top-color: $primary-1;
	animation: spinner 0.6s linear infinite;
}

//============Navbar=========
.nav-container {
	display: flex;
	font-size: 2rem;
	justify-content: space-between;
	padding: 0.5rem;
	background-color: $white;
	align-items: center;

	.nav_logo,
	.nav_bar {
		color: $grey-1;
		margin: 0.5rem;
	}

	.nav_bar :hover {
		transition: $transition;
		color: $grey-4;
		cursor: pointer;
		margin: 0.2rem;
	}
}
